<header>
  <nav class="navbar">
    <div class="nav-left">Nodot Academy</div>

    <div class="nav-center">
      <a href="/">Home</a>
      <a href="#about">About</a>
      <a href="#courses">Courses</a>
    </div>

    <div class="nav-right">
      <% if (locals.user) { %>
      <a href="/cart" class="icon-cart" title="Cart">
        <i class="bi bi-cart" style="font-size: 20px; color: rgb(0, 0, 0)"></i>
      </a>
      <a href="/mylearning">My Learning</a>
      <a href="/profile" id="user-profile-link" title="Profile">
        <div
          class="user-initial"
          style="
            display: inline-block;
            background: #000;
            color: #fff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
          "
        >
          <%= user.name ? user.name.charAt(0).toUpperCase() : "U" %>
        </div>
      </a>
      <% } else { %>
      <a href="/cart" class="icon-cart" title="Cart">
        <i class="bi bi-cart" style="font-size: 20px; color: rgb(0, 0, 0)"></i>
      </a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
      <% } %>
    </div>
  </nav>
</header>
